# internal redo and temporary files
.redo/*
*.redo1.tmp
*.redo2.tmp

# temporary files
cache_dir/*
*.pyc

# audio input and output
*.input.*
*.mp3
*.oga
*.opus

# output
feed.atom
*.cmml
*.html
*.webvtt
